{% assign img_path = include.path | remove: '.jpg' | remove: '.jpeg' | remove: '.png' | remove: '.tiff' | remove: '.gif' %}
{% assign img_alt = include.alt | default: 'Image' %}

<figure
  {% if include.class %}class="{{ include.class }}"{% endif %}
  {% if include.width %}style="max-width: {{ include.width }};"{% endif %}
  {% if include.zoomable %}class="zoom-img"{% endif %}
>
  {% if include.zoomable %}<a class="zoom" href="{{ include.path | relative_url }}">{% endif %}
  
  <!-- Auto scaling with imagemagick -->
  <!--
    See https://www.debugbear.com/blog/responsive-images#w-descriptors-and-the-sizes-attribute and
    https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images for info on defining 'sizes' for responsive images
  -->
  {% if site.imagemagick.enabled %}
  <picture>
    <source 
      class="responsive-img-srcset"
      sizes="{{ include.sizes | default: '(max-width: 480px) 100vw, (max-width: 900px) 50vw, 900px' }}" 
      srcset="{% for i in site.imagemagick.widths %}{{ img_path | relative_url }}-{{ i }}.webp {{ i }}w,{% endfor %}"
      type="image/webp"
    >
    <source
      class="responsive-img-srcset"
      sizes="{{ include.sizes | default: '(max-width: 480px) 100vw, (max-width: 900px) 50vw, 900px' }}"
      srcset="{% for i in site.imagemagick.widths %}{{ img_path | relative_url }}-{{ i }}.{{ include.path | split: '.' | last }} {{ i }}w,{% endfor %}"
      type="image/{{ include.path | split: '.' | last }}"
    >
    <!-- Fallback for browsers that don't support picture element or srcset -->
    <img
      src="{{ include.path | relative_url }}"
      {% if include.class %}class="{{ include.class }}"{% endif %}
      {% if include.width %}style="max-width: {{ include.width }};"{% endif %}
      alt="{{ img_alt }}"
      width="{{ include.width | default: '100%' }}"
      height="{{ include.height | default: 'auto' }}"
      {% if include.loading %}
      loading="{{ include.loading }}"
      {% elsif site.lazy_loading_images %}
      loading="lazy"
      {% endif %}
      {% if include.cache_bust %}{{ include.path | relative_url | bust_file_cache | remove: include.path }}{% endif %}
      onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
    >
  </picture>

  {% else %}

  <img src="{{ include.path | relative_url }}"
    {% if include.class %}class="{{ include.class }}"{% endif %}
    {% if include.width %}style="max-width: {{ include.width }};"{% endif %}
    alt="{{ img_alt }}"
    width="{{ include.width | default: '100%' }}"
    height="{{ include.height | default: 'auto' }}"
    {% if include.loading %}
    loading="{{ include.loading }}"
    {% elsif site.lazy_loading_images %}
    loading="lazy"
    {% endif %}
    {% if include.cache_bust %}{{ include.path | relative_url | bust_file_cache | remove: include.path }}{% endif %}
  />

  {% endif %}

  {% if include.zoomable %}</a>{% endif %}

  {% if include.caption %}
  <figcaption class="caption">{{ include.caption }}</figcaption>
  {% endif %}
</figure>
