---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign categories = page.categories | join: '' %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header text-center">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
    {% if categories != '' %}
        <i class="fa-solid fa-tag fa-sm"></i> 
        {% for category in page.categories %}
            <a href="{{ category | slugify | prepend: '/archive/category/' | prepend: site.baseurl}}">
                {{ category -}}
            </a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    {% endif %}
    &nbsp;
    {% if tags != '' %}
        <i class="fa-solid fa-hashtag fa-sm"></i>
        {% for tag in page.tags %}
            <a href="{{ tag | slugify | prepend: '/archive/tag/' | prepend: site.baseurl}}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        {% endif %}
        <br>
      <span title="Created at {{ page.date | date: '%b %d, %Y' }}">{{ page.date | date: '%b %d, %Y' }}</span>
        {% if page.last_updated %} 
            {% assign post_date_in_seconds = page.date | date: "%s" %}
            {% assign updated_date_in_seconds = page.last_updated | date: "%s" %}
            {% assign days_since = updated_date_in_seconds | minus: post_date_in_seconds | divided_by: 86400 | floor %}
            {% if days_since > 0 %}
                {% assign years = days_since | divided_by: 365 | floor %}
                {% assign remaining_days = days_since | modulo: 365 %}
                {% assign months = remaining_days | divided_by: 30 | floor %}
                {% assign days = remaining_days | modulo: 30 %}
                <span class="text-muted">-({% if years > 0 %}{{ years }} year{% if years > 1 %}s{% endif %}{% endif %}{% if months > 0 %}{% if years > 0 %}, {% endif %}{{ months }} month{% if months > 1 %}s{% endif %}{% endif %}{% if days > 0 %}{% if years > 0 or months > 0 %}, {% endif %}{{ days }} day{% if days > 1 %}s{% endif %}{% endif %})-</span> <span title="Updated at {{ page.last_updated | date: '%b %d, %Y' }}"><a href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/commits/main/{{ page.path }}">{{ page.last_updated | date: '%b %d, %Y' }}</a></span>
            {% endif %}
        {% endif %}
    </p>
    <hr>
  </header>

  <article class="post-content">
    {% if page.toc and page.toc.beginning %}
      <div id="table-of-contents">
        {% toc %}
      </div>
      <hr>
    {% endif %}
    <div id="markdown-content">
      {{ content }}
    </div>
  </article>

  {% if page.citation %}
    {% include citation.liquid %}
  {% endif %}

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.disqus_shortname and page.disqus_comments %}
    {% include disqus.liquid %}
  {% endif %}
  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
