---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign categories = page.categories | join: '' %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<!-- Share buttons assets -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<script src="{{ '/assets/js/share-buttons.js' | relative_url }}" defer></script>

<div class="post x-article x-dark">
  <div class="post-thumbnail">
    {% if page.thumbnail %}
      <img src="{{ page.thumbnail.image | relative_url }}" alt="{{ page.thumbnail.caption }}" title="{{ page.thumbnail.source }}" class="thumbnail-image">
    {% else %}
      <img src="https://ton.twimg.com/tfw/assets/link_v1_e64f66f5650df987d97cc5f00c4cb5987f367028.svg" alt="{{ page.title }}" class="thumbnail-image" style="object-fit: contain;">
    {% endif %}

    <div class="thumbnail-info" style="z-index: 1;background-color: rgba(0,0,0,0.5);position: absolute;bottom: 0; color: white;">
      {% if page.thumbnail.caption %}<div class="thumbnail-caption" style="color: white;">{{ page.thumbnail.caption }} {% if page.thumbnail.source %}(<a href="{{ page.thumbnail.source }}" target="_blank">Source</a>){% endif %}</div>{% endif %}
    </div>
    </div>
  
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <div class="post-meta-left">
        <div class="post-author">
          <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.first_name }} {{ site.last_name }}" class="author-avatar">
          <div class="author-info">
            <span class="author-name">{{ site.first_name }} {{ site.last_name }}</span>
            <span class="post-date" title="Created at {{ page.date | date: '%b %d, %Y' }}{% if page.modified %} - Updated at {{ page.modified | date: '%b %d, %Y' }}{% endif %}">
              {{ page.date | date: '%b %d, %Y' }}
              {% if page.modified %}
                {% assign post_date_in_seconds = page.date | date: "%s" %}
                {% assign updated_date_in_seconds = page.modified | date: "%s" %}
                {% assign seconds_since = updated_date_in_seconds | minus: post_date_in_seconds %}
                {% assign minutes_since = seconds_since | divided_by: 60 %}
                {% assign hours_since = minutes_since | divided_by: 60 %}
                {% assign days_since = hours_since | divided_by: 24 %}
                {% assign months_since = days_since | divided_by: 30 %}
                {% assign years_since = days_since | divided_by: 365 %}
                
                {% if seconds_since > 0 %} - {{ page.modified | date: '%b %d, %Y' }} ({% if years_since > 0 %}{{ years_since }}y{% elsif months_since > 0 %}{{ months_since }}mo{% elsif days_since > 0 %}{{ days_since }}d{% elsif hours_since > 0 %}{{ hours_since }}h{% else %}{{ minutes_since }}m{% endif %}) <i class="fa-solid fa-pen-to-square fa-xs" aria-hidden="true"></i>{% endif %}
              {% endif %}
            </span>
          </div>
        </div>
        
        <div class="post-categories-tags">          
          {% if tags != '' %}
            <div class="post-tags">
              {% for tag in page.tags %}
                <a href="{{ tag | slugify | prepend: '/tag/' | prepend: site.baseurl}}">#{{ tag }}</a> 
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      
      {% if page.discussion %}
        <div class="post-meta-right">
          <div class="discussion-buttons header-discussion">
            {% if page.discussion.x %}
              <a href="{{ page.discussion.x }}" class="x-button" target="_blank">
                <i class="fa-brands fa-x-twitter"></i> Discuss on X
              </a>
            {% endif %}
            {% if page.discussion.hn %}
              <a href="{{ page.discussion.hn }}" class="hn-button" target="_blank">
                <i class="fa-brands fa-y-combinator"></i> Discuss on Hacker News
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    <hr class="post-divider">
  </header>

  <div class="post-container">
    {% if page.toc %}
      <div class="toc-sidebar">
        <div class="toc-sticky">
          <h4>Table of Contents</h4>
          {% toc %}
        </div>
      </div>
    {% endif %}
    
    <article class="post-content {% if page.toc %}has-toc{% endif %}">
      <div id="markdown-content">
        {{ content }}
      </div>
    </article>
  </div>

  <hr class="post-divider">

  {% if page.citation %}
    {% include citation.liquid %}
  {% endif %}

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}
  
  {% include share-buttons.html %}
  
  {% if page.discussion %}
    <div class="discussion-links bottom-discussion">
      <h3>Join the discussion</h3>
      <div class="discussion-buttons">
        {% if page.discussion.x %}
          <a href="{{ page.discussion.x }}" class="x-button" target="_blank">
            <i class="fa-brands fa-x-twitter"></i> Discuss on X
          </a>
        {% endif %}
        {% if page.discussion.hn %}
          <a href="{{ page.discussion.hn }}" class="hn-button" target="_blank">
            <i class="fa-brands fa-y-combinator"></i> Discuss on Hacker News
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if site.disqus_shortname and page.disqus_comments %}
    {% include disqus.liquid %}
  {% endif %}
  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>

<style>
.post-updated-inline {
  color: var(--global-x-text-light);
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.post-meta-left {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-meta-right {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.header-discussion {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.header-discussion .x-button,
.header-discussion .hn-button {
  font-size: 0.85rem;
  white-space: nowrap;
}

.bottom-discussion {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .post-meta {
    flex-direction: column;
  }
  
  .post-meta-right {
    width: 100%;
    justify-content: flex-start;
  }
}

.post-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.thumbnail-image {
  max-width: 100%;
  height: auto;
}

.thumbnail-info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
}

.thumbnail-caption {
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.thumbnail-source {
  color: var(--global-x-text-light);
  font-size: 0.8rem;
  font-style: italic;
}
</style>
